<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Hello Guys!</h1>
    <p class="lead">Welcome to my Blog Site!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/home" role="button">Continue</a>
    

  </div>
</div>

<%- include('partials/footer') %>
